<!doctype html>
<html>
    <head>
    	<title>Tasks management</title>
    	<meta http-equiv="Content-Type" content="text/html charset=UTF-8">

        <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="css/tareas.css">

        <script src="js/angular.js"></script>
        <script src="js/tareas.js"></script>
    </head>
<!--Le decimos al elemento bdoy que va a recibir una app de Angular.js-->
<body ng-app>
	<!--Le decimos al elemento que vamos a usar este controlador, y todas las variables, metodos, etc... que le pasemos al scope del controlador las tendremos disponibles en este elemento-->
    <div ng-controller="ControladorTareas">
        <h2>Lista de Tareas</h2>
        <ul class="unstyled">
	        <!--Repite el li por cada elemento que hay en el array tareas-->
	        <li ng-repeat="tarea in tareas">
	            <!-- ligamos el input de cada elemento del array con la propiedad -realizada- que nos dice si está hecha o no. 
	            Y la realizada estará checkeada de inicio-->
	            <input type="checkbox" ng-model="tarea.realizada">
	            <!--Construimos una clase con true o false, dependiendo si está realizada o no la tarea.-->
	            <span class="realizada-{{tarea.realizada}}">
	            <!--inmprimimos el texto de la tarea de cada iteracción -->
	            {{tarea.texto}}</span>
	        </li>
	        	<!--Se llama a la funcion agregarTarea del controlador en el que estamos cuando se envía en form mediante el scope-->
	            <form ng-submit="agregarTarea()">
	            	<!--Lo que escribamos en este input estará en el modelo que le indicamos.-->
            		<input type="text" ng-model="textoNuevaTarea" size="30"placeholder="Añadir nueva tarea">
            		<!--Le añadimos unas clases de Bootstrap al elemento button-->
            		<button class="btn btn-primary" type="submit">Añadir </button>
        		</form>
        </ul>
    </div>
</body>
</html>
